<div class="col-sm-8 col-sm-offset-2">
<h3>The Creatures!
  <%= link_to "  Add a new creature!", new_creature_path, class: 'btn btn-primary btn-xs glyphicon glyphicon-plus pull-right' %>
</h3>

<% @creatures.each do |creature| %>
		<div class="well">
		  <h2><%= creature.name %></h2>
		  <em>Description: <%= creature.description %></em>
		  <%= link_to "", creature, method: :delete, class: 'btn btn-danger btn-xs glyphicon glyphicon-trash pull-right' %>
		  <%= link_to "", edit_creature_path(creature), class: 'btn btn-primary btn-xs glyphicon glyphicon-pencil pull-right' %>
		  <%= link_to "See the creature closer!", creature, class: 'pull-right' %>
		  <p>
	  <% creature.tags.each do |tag| %>
	    <%= link_to "##{tag.name}", tag %>
	  <% end %>
	  </p>
		</div>
<% end %>
</div>