<!DOCTYPE html>
<html>
<head>
  <title>BogAdventure</title>

  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Freckle+Face|Slackey|Indie+Flower' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<nav class="navbar navbar-default">
	<div class="navbar-header">
 		<h1>The bog nav!</h1>
  </div>
  <div class="collapse navbar-collapse">
  <ul class="nav navbar-nav danger">
 		<li><%= link_to "Home", root_path %></li>
 		<li><%= link_to "About", about_path %></li>
 		<li><%= link_to "Creatures", creatures_path %></li>
    <li><%= link_to "Tags", tags_path %></li>
    </ul>
  </div>
</nav>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h1>Ahhh a nasty bog!</h1>
		</div>
</div>

<%= yield %>

</body>
</html>
